<?xml version="1.0" ?>
<robot name="Skoda_Superb_Mk1">
    <webots>
        <device reference="gps" type="GPS">
            <ros>
                <enabled>true</enabled>
                <topicName>/simulation/gps</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>gps</frameName>
            </ros>
        </device>
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <updateRate>50</updateRate>
            <topicName>/simulation/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu</frameName>
            <inertialUnitName>inertial_unit</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
        </plugin>
        <plugin type="webots_vehicle_sim.wheel_encoder_plugin.WheelEncoderPlugin"/>
    </webots>
</robot>